.page-header {
    height: 50vh !important;  
}
.form-control{
	width:77%!important;
	font-size:20px !important;
	height: 48px !important;
	color:#fff !important;
}
.input-group {
     width: 92% !important;
}
.imgLogo{
	width: 50%;
	margin-top:-15px;
	margin-left: -26px;
}
.navbar-translate{
	width:50%
}
.img-fluid {
    max-width: 200% !important;
	margin-left:-15px
}
.card-body{
	text-align: left;
}